@tailwind base;
@tailwind components;
@tailwind utilities;

.fit {
  min-height: calc(100vh - 88px);
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar{
  display: none;
}

html, body, #__next {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}